<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="PPM_TRACKING_SYSTEM.Properties.Settings.PPMTrackingSystemConnectionString"
      connectionString="Data Source=TD-KC5;Initial Catalog=PPMTrackingSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="ConnString" value="Initial Catalog=PPMTrackingSystem;uid=sa;password=tpms_tpms;Data Source=172.16.2.19"/>
    <add key="UploadLocation" value="E:\\abc"/>
    <add key="Downloadhost" value="ewii.elsevier.com"/>
    <add key="DownloadF" value=""/>
    <add key="Downloaduid" value="TOMBK"/>
    <add key="Downloadpwd" value="tombkget15844"/>
    <add key="Downloadhost1" value="202.54.251.84"/>
    <add key="DownloadF1" value="ordertest"/>
    <add key="Downloaduid1" value="swtest"/>
    <add key="Downloadpwd1" value="td$swtest"/>
    <add key="uploadhost" value="202.54.251.84"/>
    <add key="UploadF" value="ordertest"/>
    <add key="uploaduid" value="swtest"/>
    <add key="uploadpwd" value="td$swtest"/>
    <add key="OrderPath" value="Z:\ElsBook\Orders\PPM"/>
    <add key="LocalIPath" value="C:\PPMTS\"/>
  </appSettings>
</configuration>