<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--LIVE-->
    <!--<add key="MyConnString" value="Provider=msdaora;Data Source=tis;User Id=booktrack;Password=booktrack"/>-->
	  <add key="MyConnString" value="Provider=msdaora;Data Source=tis;User Id=booktrack;Password=booktrack"/>
    <add key="orderpath" value="D:\Deepak\BookTrackEMails\Orders"/>
    <add key="PPMPIIPATH" value="D:\Deepak\BookTrackEMails\Orders\PPM"/>
    <add key="ExcelPath" value="C:\Temp\"/>
    <add key="mailip" value="192.168.0.4"/>
    <add key="CopyrightYear" value="2014"/>
    <!--<add key="orderpathConversion" value="\\10.10.10.2\Books_Order\"/>-->
  </appSettings>
	<connectionStrings>
		<add name="MySqlConnection" connectionString="data source=DESKTOP-5570UJS; initial catalog=TIS;User ID=sa; Password=123456;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
      <identity impersonate="true" userName="apptest" password="p@ssw0rd"></identity>
        -->
    <authentication mode="Windows"/>
    <!--<identity impersonate="true" userName="apptest" password="p@ssw0rd"/>-->
    <sessionState timeout="60"/>
    <customErrors mode="Off" defaultRedirect="ErrorPage.htm"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="cc1" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>