<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="OPSTEST"          value="False"/>
    <add key="TemplatePath"     value="\\application3\OPSTEMPLATE\"/>
    <add key="HowToAnnotateYourProofTemplatePath"     value="\\application3\OPSTEMPLATE\CommonFiles\HowToAnnotateYourProof.pdf"/>
    <add key="OPSServerPath"    value="\\application3" />
    <add key="OPSServerIP"      value="203.196.133.9" />
    <add key="ReviewFolder"     value="\\application3\OPSProofs" />
    <add key="SearchFolder"     value="C:\AEPS\DISTILLER\JWUSA\FRESH#C:\AEPS\DISTILLER\JWUK\FRESH#C:\AEPS\DISTILLER\SINGAPORE\FRESH#C:\AEPS\DISTILLER\DCL"/>
    <add key="RevisedSearchFolder"     value="C:\AEPS\DISTILLER\SINGAPORE\REVISED"/>
    <add key="FAXSearchFolder"         value="C:\AEPS\DISTILLER\SINGAPORE\FAX"/>
    <add key="SGPFTPURL"               value="ftp://ftp.thomsondigital.com/TEST/OUTGOING%20SINGAPORE/"/>


  </appSettings>
  <connectionStrings>
    <add name="AEPSJWConnectionString1" connectionString="Data Source=TD-PUNEET-SW; Initial Catalog=AEPSJW; Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="AEPSJWConnectionString" connectionString="Data Source=application3; Initial Catalog=AEPSJW; User ID=sa;Password=Le0nard"
        providerName="System.Data.SqlClient" />
    <add name="OPSConnectionString" connectionString="Data Source=application3; Initial Catalog=OPS;    User ID=sa;Password=Le0nard"
        providerName="System.Data.SqlClient" />
    <add name="eProofSystem.Properties.Settings.AEPSJWConnectionString"
        connectionString="Data Source=TD-PUNEET-SW;Initial Catalog=AEPSJW;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="eProofSystem.Properties.Settings.OPSConnectionString"
        connectionString="Data Source=APPLICATION3;Initial Catalog=OPS;User ID=sa"
        providerName="System.Data.SqlClient" />
    <add name="OPSConnectionString1" connectionString="Data Source=application3;Initial Catalog=OPS;User ID=sa;Password=Le0nard"
        providerName="System.Data.SqlClient" />
    <add name="eProofSystem.Properties.Settings.OPSConnectionString1"
        connectionString="Data Source=application3;Initial Catalog=OPS;User ID=sa;Password=Le0nard"
        providerName="System.Data.SqlClient" />
    <add name="eProofSystem.Properties.Settings.AEPSJWConnectionString1"
        connectionString="Data Source=application3;Initial Catalog=AEPSJW;User ID=sa;Password=Le0nard"
        providerName="System.Data.SqlClient" />
    <add name="eProofSystem.Properties.Settings.OPSConnectionString2"
        connectionString="Data Source=application3;Initial Catalog=OPS;Persist Security Info=True;User ID=sa;Password=Le0nard"
        providerName="System.Data.SqlClient" />
    <add name="eProofSystem.Properties.Settings.AEPSJWConnectionString2"
        connectionString="Data Source=172.16.3.11;Initial Catalog=AEPSJW;User ID=sa;Password=Le0nard"
        providerName="System.Data.SqlClient" />
    <add name="eProofSystem.Properties.Settings.OPSConnectionString3"
        connectionString="Data Source=APPLICATION3;Initial Catalog=OPS;User ID=sa;Password=Le0nard"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>