<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OPSConnectionString" connectionString="Data Source=172.16.3.11; Initial Catalog=OPSTEST; User ID=sa;Password=Le0nard" providerName="System.Data.SqlClient"/>
    <add name="LWWConnectionString" connectionString="Data Source=172.16.0.61;Initial Catalog=LWW_TEST;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="S100ToEditorInPut" value="D:\tdxps\LWWToEditor\S100InPut"/>
    <add key="S200ToEditorInPut" value="D:\tdxps\LWWToEditor\S200InPut"/>
    
    <add key="S100eProofInPut" value="D:\tdxps\LWW\S100OutPut"/>
    <add key="S200eProofInPut" value="D:\tdxps\LWW\S200OutPut"/>
    <!--<add key="S100eProofInPut" value="\\td-pc2-pc\TDXPS\LWW\S100OutPut"/>
    <add key="S200eProofInPut" value="\\td-pc2-pc\TDXPS\LWW\S200OutPut"/>-->
    
    <add key="PrfPath" value="\\172.16.3.11\PrfDownload"/>
    
    <add key="AnnPDF" value="\\172.16.3.39\AnnPDF"/>
    <add key="FtpUrl" value="ftp://ftp.thomsondigital.com/TDTest"/>
    <add key="FtpUsr" value="lww1"/>
    <add key="FtpPwd" value="td$lww"/>
    <add key="LWWPDFCountFile" value="\\fmsbooks\d$\FMS\centralized_server\LWW\JOURNAL\"/>
    <!--<add key="MailTo" value="puneet.j@thomsondigital.com"/>
    <add key="MailCC" value="puneet.j@thomsondigital.com"/>
    <add key="MailBCC" value="puneet.j@thomsondigital.com"/>-->   
    
    <add key="NtwrkLoc" value="C:\fms\"/>
    <!--<add key="NtwrkLoc" value="\\172.16.3.39\fms"/>-->
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="FMS" value="\\fmsbooks\d$\FMS\centralized_server\LWW\JOURNAL\"/>
    
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
