<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="PASSWORD"        value="password"/>
    <add key="MAILSERVERDOMAIN" value="172.16.0.10"/>
    <add key="NSFFILE"          value="D:\Input\EEOLink\JQAMAIL.nsf"/>
    <add key="CHECKMAILID"      value="eeolink"/>
    <add key="Config"           value="Data Source=application3; Initial Catalog=AutoOrderGenerator; User ID=sa; Password=Le0nard;"/>
    <add key="AepsJwConfig"     value="Data Source=application3; Initial Catalog=AEPSJW; User ID=sa; Password=Le0nard;"/>
    <add key="OrderPath"        value="E:\Projects\EEOLINK\td-nas\w-input\downloads\xmlorder\JWUSA"/>
    <add key="FmsPath"          value="E:\Projects\EEOLINK\fms2\OrderPath"/>
    <add key="ZipFilePath"      value="E:\Projects\EEOLINK\td-nas\w-input\downloads\xmlorder\JWUSA"/>
    <add key="MaterialPath"     value="E:\Projects\EEOLINK\td-nas\w-input\downloads\Material Input\US Materials"/>
    <add key="ErrorLog"         value="D:\WileyJournal\EEOLINK\ErrorLog"/>
    <add key="CheckSubject"     value="importsucceeded#import succeeded#Exported#Successful export#Sent to production"/>
   </appSettings>
  <connectionStrings/>
</configuration>