<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <connectionStrings>
    <!--<add name="DatabasePath" connectionString="DRIVER={MySQL ODBC 5.1 Driver};Database=login_ios;Server=10.10.10.27;UID=root;PWD=p@ssw0rd;"/>-->
    <add name="sqlcon" connectionString="Server=DESKTOP-5570UJS;Database=iospress;User ID=sa;Password=123456;Trusted_Connection=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />-->
    <!--<add key="DatabasePath" value="Provider=SQLOLEDB;Server=application1;Database=IOS_Press;User ID=sa;password=tpms_tpms;Connection Timeout = 300;"/-->
    <!-- edited by kshitij-->
    <!--<add key="DatabasePath" value="Provider=SQLOLEDB;Server=10.10.11.16;Database=IOS_Press;User ID=sa;password=sa;"/>-->
    <!--<add key="DatabasePath" value="Provider=SQLOLEDB;Server=10.10.11.16;Database=IOS_Press_temp;User ID=sa;password=sa;"/>-->
    <!--edited by kshitij -->
    <!-- For Mysql Database -->
    <add key="DatabasePath" value="SERVER=10.20.10.14;database=ios_press;user=root;PASSWORD=p@ssw0rd; default command timeout=1000;"/>
    <!--<add key="DatabasePath" value="SERVER=10.10.10.27;database=ios_press;user=root;PASSWORD=p@ssw0rd; default command timeout=1000;"/>-->
    <!--<add key="DatabasePath" value="SERVER=10.10.11.16;database=ios_press;user=root;PASSWORD=root; default command timeout=1000;"/>-->
  </appSettings>
  <!--<connectionStrings/>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="30"/>
    <httpRuntime executionTimeout="2000"/>
    <customErrors mode="Off"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        -->
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <!--
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      -->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'none'; font-src 'self'; img-src 'self' data:; script-src 'self' api.jquery.com 'unsafe-inline' 'unsafe-eval' ajax.googleapis.com ajax.aspnetcdn.com; style-src 'self' 'unsafe-inline';connect-src 'self';form-action 'self';"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>