#ctl00_Image1 {
	DISPLAY: block
}
#ctl00_Image2 {
	DISPLAY: block
}
#ctl00_BannerFade {
	DISPLAY: block
}
BODY {
	FONT: 0.7em Verdana,Tahoma,Arial,Helvetica, sans-serif
}
A {
	COLOR: #3366cc
}
.blue {
	COLOR: #3366cc
}
A.headerlink {
	COLOR: black; TEXT-DECORATION: none
}
A:hover {
	COLOR: #1d489e; TEXT-DECORATION: none
}
UL {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(../images/bullet.gif)
}
TABLE.bulletlist LI {
	LIST-STYLE-IMAGE: url(../images/bullet.gif)
}
TD.toolbar {
	BORDER-TOP: #ffffff 1px solid; BACKGROUND: #999999; FONT: 11px Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid
}
A.toolbar {
	FONT: 11px Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none
}
TD.mainbody {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-TOP: 10px
}
TABLE.table {
	FONT-SIZE: 1em
}
SPAN.subhead {
	
}
SPAN.header {
	
}
TABLE.table PRE {
	
}
DIV.code PRE {
	
}
TD.code {
	
}
TD.caption {
	
}
SPAN.caption {
	FONT-STYLE: italic
}
TABLE.table TH {
	PADDING-LEFT: 5px; BACKGROUND: #dadada; TEXT-ALIGN: left
}
TABLE.table {
	WIDTH: 100%
}
TABLE.table TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.code {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 1px; OVERFLOW: auto; WIDTH: 98%; COLOR: #669933; PADDING-TOP: 1px; FONT-FAMILY: courier-new; BACKGROUND-COLOR: #f0f0f0
}
PRE.code {
	BORDER-RIGHT: #dadada 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dadada 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 10px; OVERFLOW: auto; BORDER-LEFT: #dadada 1px solid; WIDTH: 98%; COLOR: #669933; PADDING-TOP: 10px; BORDER-BOTTOM: #dadada 1px solid; FONT-FAMILY: courier-new; BACKGROUND-COLOR: #f0f0f0
}
CODE {
	FONT-SIZE: 1.2em; COLOR: #669933; FONT-FAMILY: courier new
}
.code PRE {
	FONT-SIZE: 1em
}
DIV.indent {
	PADDING-LEFT: 25px
}
H1 {
	DISPLAY: inline; FONT-SIZE: 14px
}
H2 {
	FONT-SIZE: 1.6em
}
H3 {
	FONT-SIZE: 1.1em
}
H3.inline {
	DISPLAY: inline; FONT-SIZE: 1em
}
DIV.inline {
	PADDING-BOTTOM: 3px
}
DIV.inline H3 {
	DISPLAY: inline
}
H4 {
	FONT-SIZE: 1em
}
H5 {
	FONT-SIZE: 1em
}
TD.homephoto {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 10px; WIDTH: 231px; COLOR: #3366cc; PADDING-TOP: 10px; FONT-FAMILY: Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif
}
TD.nav {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 10px; WIDTH: 231px; COLOR: #3366cc; PADDING-TOP: 10px; FONT-FAMILY: Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif
}
TD.homephoto {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.bannerbg {
	BACKGROUND: #2e5cb8
}
.sectiontitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #3366cc; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 3px solid; FONT-FAMILY: Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif
}
.new {
	BORDER-RIGHT: #eca67d 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #eca67d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fffcd6; PADDING-BOTTOM: 10px; BORDER-LEFT: #eca67d 1px solid; WIDTH: 97%; COLOR: #663333; PADDING-TOP: 10px; BORDER-BOTTOM: #eca67d 1px solid
}
.newinline {
	BORDER-RIGHT: #eca67d 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eca67d 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #f6f4c3; PADDING-BOTTOM: 0px; BORDER-LEFT: #eca67d 1px solid; COLOR: #ff3300; PADDING-TOP: 0px; BORDER-BOTTOM: #eca67d 1px solid
}
.runview {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN-LEFT: 30px; BORDER-LEFT: #c1c1c1 1px solid; PADDING-TOP: 3px
}
.footer {
	COLOR: #b2b2b2
}
A.RightHeaderLink:active {
	COLOR: #ffff7e; TEXT-DECORATION: none
}
A.RightHeaderLink:visited {
	COLOR: #ffff7e; TEXT-DECORATION: none
}
A.RightHeaderLink:link {
	COLOR: #ffff7e; TEXT-DECORATION: none
}
A.RightHeaderLink:hover {
	COLOR: silver
}
.headerLinkBackground {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: white; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma
}
.footerBG1 {
	BACKGROUND-IMAGE: url(../Images/FooterBackground.gif); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
A.footerLinks:active {
	COLOR: black; TEXT-DECORATION: none
}
A.footerLinks:visited {
	COLOR: black; TEXT-DECORATION: none
}
A.footerLinks:link {
	COLOR: black; TEXT-DECORATION: none
}
A.footerLinks:hover {
	COLOR: blue; TEXT-DECORATION: underline
}
