<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="INTEGRATESERVERIP" value="FMS"/>
    <add key="FmsPath" value="D:\XMLORDER"/>
    <add key="ROOTPATH" value="D:\"></add>
    <add key="SRCHPATH" value="D:\JWUSA"></add>
    <add key="JIDMap" value="ANNSURG#SLA,AJMG-A#AJMGA,AJMG-B#AJMGB,AJMG-C#AJMGC,CPD#CPDD"></add>
    <add key="MoveInputFiles" value="E:\LWW"></add>
    <add key="MoveInputFiles" value="E:\LWW"></add>
    
    <add key="Url" value="ftp://ftp.thomsondigital.com/Prepare First Proof"></add>
    <add key="FtpUsr" value="lww1"></add>
    <add key="FtpPwd" value="td$lww"></add>
    
    <add key="MailTo" value="PM_LWWUS@thomsondigital.com"/>
    <add key="MailCC" value="puneet.j@thomsondigital.com"/>
    <add key="MailBCC" value="puneet.j@thomsondigital.com"/>
    <add key="FTPIP" value="ftpsrv.thomsondigital.com"/>

  </appSettings>
  <connectionStrings>
    <add name="OPSConnectionString" connectionString="Data Source=172.16.3.11;Initial Catalog=OPSTEST;Persist Security Info=True;User ID=sa;Password=Le0nard" providerName="System.Data.SqlClient"/>
    <add name="WIPConnection" connectionString="Initial Catalog=LWW_Test;uid=sa;password=p@ssw0rd;Data Source=172.16.0.61"/>
    <add name="GangConnection" connectionString="Initial Catalog=GTK_1P1PLIVE1;uid=sa;password=p@ssw0rd;Data Source=10.10.23.109"/>
    <add name="FMSConnection" connectionString="SERVER=172.16.0.54;Database=report;User Id=root;Password=admin; Connect Timeout=100;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
