<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="INTEGRATESERVERIP" value="FMS"/>
    <add key="FmsPath"           value="H:\1\AUTO"/>
    <add key="ROOTPATH"          value="G:\"></add>
    <add key="SRCHPATH"          value="G:\JWUSA"></add>
    <add key="JIDMap"            value="AJMG-A#AJMGA,AJMG-B#AJMGB,AJMG-C#AJMGC,CPD#CPDD"></add>
    <add key="MoveInputFiles"    value="H:\LWW"></add>
    <add key="MailTo"  value="pm_lwwus@thomsondigital.com,pm_lww@thomsondigital.com" />
    <add key="MailCC"  value="anil.kumar@thomsondigital.com" />
    <add key="MailBCC" value="" />  
    <add key="FTPIP" value="ftpsrv.thomsondigital.com"/>
    <add key="FtpUsr" value="lww1"></add>
    <add key="FtpPwd" value="td$lww"></add> 
  </appSettings>
  <connectionStrings>
    <add name="OPSConnectionString" connectionString="Data Source=172.16.3.11;Initial Catalog=OPSTEST;Persist Security Info=True;User ID=sa;Password=Le0nard" providerName="System.Data.SqlClient"/>
    <add name="WIPConnection" connectionString="Initial Catalog=LWW;uid=sa;password=p@ssw0rd;Data Source=172.16.0.61"/>
    <add name="GangConnection" connectionString="Initial Catalog=GTK_1P1PLIVE;uid=sa;password=p@ssw0rd;Data Source=10.10.23.109"/>
    <add name="FMSConnection" connectionString="SERVER=172.16.0.54;Database=report;User Id=root;Password=admin; Connect Timeout=100;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
