<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!--<add key="FMSPATH" value="\\fms2\OrderPath\"/>-->
    <add key="FMSPATH" value="D:\\1"/>
	  <add key="MEDKNOW" value="D:\medknow"/>
	  <add key="THIEME" value="D:\thieme123"/>
    <add key="FMSOrderPath" value="D:\1\EDPIssueOrder\"/>
    <add key="EMCFMSPATH" value="\\fms\EMC_WATCH"/>
    <!--<add key="IPIPFMSPATH" value="\\172.16.2.128\fmsftpdata"/>-->
    <add key="IPIPFMSPATH" value="C:\\fmsftpdata"/>
    <add key="ROOTPATH" value="D:\"/>
    <add key="LogPath" value="D:\WebApplication\XMLORDERNEW\Log"/>
  </appSettings>
  <connectionStrings>
    <add name="sqlConnectionString" connectionString="User ID=sa;Password=123456;Initial Catalog=JWXMLORDER;Data Source=DESKTOP-5570UJS"/>
    <add name="AEPSConnectionString" connectionString="User ID=sa;Password=TPMS_TPMS;Initial Catalog=AEPSJW;Data Source=Application1"/>
    <add name="AEPS-THIEME" connectionString="User ID=sa;Password=TPMS_TPMS;Initial Catalog=AEPS_THIEME;Data Source=Application1"/>
    <add name="FMS2ConnectionString" connectionString="SERVER=fms2;Database=report;User Id=root;Password=gr@ph1c; Connect Timeout=100;"/>
    <add name="ConnectionString" connectionString="Provider=MSDAORA;Data Source=tis;Password=ptsuser;User ID=ptsuser" providerName="System.Data.OleDb"/>
    <add name="Application3XMLOrder" connectionString="Data Source=DESKTOP-5570UJS;Initial Catalog=XMLOrder;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="OPSConnectionString" connectionString="Data Source=DESKTOP-5570UJS;Initial Catalog=OPS;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="MDKConnectionString" connectionString="Data Source=DESKTOP-5570UJS;Initial Catalog=LWW;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add src="~/UserControl/UCrDate.ascx" tagName="UserDate" tagPrefix="uc1"/>
      </controls>
    </pages>
    <!--<identity impersonate="true" userName="apptest" password="p@ssw0rd"/>-->
    <httpRuntime executionTimeout="9999" maxRequestLength="2097151"/>
    <sessionState timeout="60"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="LoginForm" loginUrl="Login.aspx" protection="All" timeout="30" path="/"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <authorization>
      <deny users="*"/>
      <!-- Deny all users -->
    </authorization>
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
  ****************************************************************************
    User and Admin Roles allowed to access 
  ****************************************************************************

  -->
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="ItemReport.aspx">
    <system.web>
      <authorization>
        <allow roles="Sys, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="LoginReport.aspx">
    <system.web>
      <authorization>
        <allow roles="Sys, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="OrderCreator.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="CBP_OrderCreator.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="tempcreator.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="OrderDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="OrderViewer.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, All, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="Order.html">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="ViewLog.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="Report.html">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="LogData.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, Sys, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <!-- Allow all Users -->
      </authorization>
    </system.web>
  </location>
  <location path="UpdateOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="GenerateOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, Sys, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="UnderDev.aspx">
    <system.web>
      <authorization>
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="IssueXML.aspx">
    <system.web>
      <authorization>
        <!-- Allow User and Admin Roles users -->
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Deny anonymous users -->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EMCOrder.aspx">
    <system.web>
      <authorization>
        <!-- Allow User and Admin Roles users -->
        <allow roles="User, Admin, SuperAdmin"/>
        <!-- Deny anonymous users -->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
  ****************************************************************************
    Admin Roles allowed to access 
  ****************************************************************************

  -->
  <location path="AdminPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, SuperAdmin"/>
        <!-- Allow User and Admin Roles users -->
        <deny users="*"/>
        <!-- Deny anonymous users -->
      </authorization>
    </system.web>
  </location>
  <location path="ImagesAndStyleSheet">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="IsssueXML.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>