<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- Live-->
    <!--
    <add key="DTDVersion" value="BOOK 5.5.0 CHAPTER"/>
    <add key="PDFVersion" value="1.7 6.5"/>
    <add key="Marker" value="D:\pcworkflowbookdatset2.0\Data\280\Marker"/>
    <add key="Source" value="D:\pcworkflowbookdatset2.0\Data\280"/>
    <add key="Processed" value="D:\pcworkflowbookdatset2.0\Data\280\MovePath"/>
    <add key="TargetPath" value="D:\pcworkflowbookdatset2.0\Data\280\Output"/>
    <add key="Failedvtool" value="D:\pcworkflowbookdatset2.0\Data\280\Failed" />
    <add key="OrdePath" value="\\td-nas\Elsinpt\ElsBook\Orders\PPM" />
    <add key="Template" value="A01,A02,A03,A07a,A08a,P04" />
    <add key="StrippinsBatch_Ignore" value="v:\StripCheck.bat" />
    <add key="StrippinsBatch" value="D:\pcworkflowbookdatset2.0\Debug\StripCheck.bat" />
    <add key="PitInfo" value="CHP|CHAPTER;IDX|INDEX;APP|AAPENDIX;BIB|BIBLIOGRAPHY" />
    <add key="sql" value="server=172.16.0.61;Database=Els_Books_PC_Flow;User ID=sa;Password=p@ssw0rd;Trusted_Connection=false;"/>
    
    <add key="Host" value="ftp.elsevierproofcentral.com" />
    <add key="User" value="tombk2" />
    <add key="Password" value="gJ5jaaDws" />
    <add key="Location" value="IN" />
    
    <add key="SMTP" value="172.16.0.13" />
    <add key="ERRTo" value="bsingh@thomsondigital.com,els.eqc@thomsondigital.com,jitender.r@thomsondigital.com,ganesh.kannayiram@thomsondigital.com,fsxml.elschn@thomsondigital.com" />
    <add key="ERRCC" value="waseem.ahamad@thomsondigital.com" />
    <add key="ERRFRM" value="jitender.r@thomsondigital.com" />
    <add key="DataSetAdminMail" value="bsingh@thomsondigital.com,els.eqc@thomsondigital.com,jitender.r@thomsondigital.com" />
    -->

    <!-- Test
    <add key="DTDVersion" value="BOOK 5.5.0 CHAPTER"/>
    <add key="PDFVersion" value="1.7 6.5"/>
    <add key="Marker" value="T:\Data\BetaVersion\Marker"/>
    <add key="Source" value="T:\Data\BetaVersion"/>
    <add key="Processed" value="T:\Data\BetaVersion\MovePath"/>
    <add key="TargetPath" value="T:\Data\BetaVersion\Output"/>
    <add key="Failedvtool" value="T:\Data\BetaVersion\Failed" />
    <add key="OrdePath" value="\\td-nas\Elsinpt\ElsBook\Orders\PPM" />
    <add key="Template" value="A01,A02,A03,A07a,A08a,P04" />
    <add key="StrippinsBatch_Ignore" value="v:\StripCheck.bat" />
    <add key="StrippinsBatch" value="D:\pcworkflowbookdatset2.0\Debug\StripCheck.bat" />
    <add key="PitInfo" value="CHP|CHAPTER;IDX|INDEX;APP|AAPENDIX;BIB|BIBLIOGRAPHY" />
    <add key="sql" value="server=172.16.0.61;Database=Els_Books_PC_Flow_Test;User ID=sa;Password=p@ssw0rd;Trusted_Connection=false;"/>

     Test-->

    <!-- Live -->
    <add key="DTDVersion" value="BOOK 5.5.0 CHAPTER"/>
    <add key="PDFVersion" value="1.7 6.5"/>
    <add key="Marker" value="D:\Contrast\280\Marker"/>
    <add key="Source" value="D:\Contrast\280"/>
    <add key="Processed" value="D:\Contrast\280\MovePath"/>
    <add key="TargetPath" value="D:\Contrast\280\Output"/>
    <add key="Failedvtool" value="D:\Contrast\280\Failed"/>
    <!--<add key="OrdePath" value="\\td-nas\Elsinpt\ElsBook\Orders\PPM"/>-->
	  <add key="OrdePath" value="D:\Contrast\280\PPM"/>
    <add key="Template" value="A01,A0B2,A03,A07a,A08a,P04,1-Color MRW,A02,A02-4c,A07a-4c,P04-4c,A01-4c,P05,P05-4c,MRW,Short-format,A09"/>
    <add key="StrippinsBatch_Ignore" value="v:\StripCheck.bat"/>
    <add key="StrippinsBatch" value="D:\Deepak\Contrast4ElsBooks3\bin\Debug\StripCheck.bat"/>
    <add key="PitInfo" value="CHP|CHAPTER;IDX|INDEX;APP|AAPENDIX;BIB|BIBLIOGRAPHY"/>
    <add key="sql" value="server=DESKTOP-5570UJS;Database=Els_Books_PC_Flow;User ID=sa;Password=123456;Trusted_Connection=false;"/>




    <!--<add key="Host" value="ftpuat.elsevierproofcentral.com" />
    <add key="User" value="tombk1" />
    <add key="Password" value="Kw1el2PCW9" />
    <add key="Location" value="IN" />-->

    <add key="SMTP" value="172.16.0.13"/>
    <add key="ERRTo" value="deepak.verma@digiscapetech.com,deepak.verma@digiscapetech.com,deepak.verma@digiscapetech.com"/>
    <add key="ERRMailTo" value="deepak.verma@digiscapetech.com,deepak.verma@digiscapetech.com,deepak.verma@digiscapetech.com"/>
    <add key="ERRMailCC" value="deepak.verma@digiscapetech.com"/>
    <add key="ERRMailBCC" value="deepak.verma@digiscapetech.com"/>
    <add key="ERRMailFrom" value="eproof@elseviour.thomsondigital.com"/>
    <add key="ERRCC" value="deepak.verma@digiscapetech.com"/>
    <add key="ERRFRM" value="deepak.verma@digiscapetech.com"/>
    <add key="DataSetAdminMail" value="deepak.verma@digiscapetech.com,deepak.verma@digiscapetech.com"/>




    <!--<add key="Host" value="ftp.elsevierproofcentral.com" />
    <add key="User" value="tombk" />
    <add key="Password" value="xEWKW3e2h" />
    <add key="Location" value="IN" /> -->




  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
