<?xml version="1.0"?>
<configuration>
  <appSettings>
   <add key="PASSWORD" value="password321" />
    <add key="MAILSERVERDOMAIN" value="172.16.0.10" />
        <!--<add key="MAILSERVERDOMAIN" value="172.16.0.10"/> Old IP-->
    <add key="NSFFILE"         value="E:\Projects\EEOLINK\Input\01-03-11.nsf"/>
     <add key="NSFFILE" value="mail\pradeepkushwaha" />
    <add key="CHECKMAILID" value="eeolink" />
    <add key="Config" value="Data Source=application3; Initial Catalog=AutoOrderGenerator; User ID=sa; Password=Le0nard;" />
    <add key="AepsJwConfig" value="Data Source=application3; Initial Catalog=AEPSJW; User ID=sa; Password=Le0nard;" />
    <add key="OPSConfig" value="Data Source=application3; Initial Catalog=OPS; User ID=sa; Password=Le0nard;" />
    <add key="OrderPath" value="E:\Projects\EEOLINK\td-nas\w-input\downloads\xmlorder\JWUSA" />
    <add key="FmsPath" value="E:\Projects\EEOLINK\fms2\OrderPath" />
    <!--<add key="FmsPath"          value="\\fms2\orderpath"/>-->
    <add key="ZipFilePath" value="E:\Projects\EEOLINK\td-nas\w-input\downloads\xmlorder\JWUSA" />
    <!--<add key="MaterialPath"     value="E:\Projects\EEOLINK\td-nas\w-input\downloads\Material Input\US Materials"/>-->
    <add key="MaterialPath" value="\\td-nas\w-input\downloads\Material Input\US Materials" />
    <add key="ErrorLog" value="D:\WileyJournal\EEOLINK\ErrorLog" />
    <add key="CheckSubject" value="importsucceeded#import succeeded#Exported#Successful export#Sent to production" />
    <add key="ROOTPATH" value="D:\">
    </add>
    <add key="ACRDownloadPath" value="\\application3\D$\JWUSA\ArticleContentReport">
    </add>
    <add key="DownloadPath" value="D:\TDXPSPlanner\htmlResources">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="OPSConnectionString" connectionString="Data Source=172.16.3.11;Initial Catalog=OPS;Persist Security Info=True;User ID=sa;Password=Le0nard" providerName="System.Data.SqlClient" />
    <add name="OPSTestEntities" connectionString="metadata=.\ThiemeDB.csdl|.\ThiemeDB.ssdl|.\ThiemeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APPLICATION3;initial catalog=OPS;user id=sa;password=Le0nard;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GangDBConnectionString" connectionString="Data Source=10.10.23.109; Initial Catalog=GTK_1P1PLIVE;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="AltGangDBConnectionString" connectionString="Data Source=192.168.23.109; Initial Catalog=GTK_1P1PLIVE;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>