<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="connstr" value="Provider=SQLOLEDB;Server=rizwantd;Database=OrderViewer;User ID=sa;password=sa;"/>
    <add key="ServerPath" value="\\172.16.0.44\elsinpt\VIEWER\ORIGINALORDERS\"/>
    <add key="FMSPath" value="\\fms\d$\FMS\centralized_server\EMC\JOURNAL\"/>
    <add key="LocalServer" value=""/>
    <add key="Stages" value="CU;S5;S5RESUPPLY;S100;S100RESUPPLY;S200;S200RESUPPLY;S250;S250RESUPPLY;P100;P100RESUPPLY;Q300;Q300RESUPPLY;S300;S300RESUPPLY;;F300;F300RESUPPLY;PUBACC;PUBACCRESUPPLY;RSVP"/>
    <add key="StageOrder" value="CU;S5;S5RESUPPLY;S100;S100RESUPPLY;S200;S200RESUPPLY;S250;S250RESUPPLY;S300;S300RESUPPLY;F300;F300RESUPPLY;P100;P100RESUPPLY"/>
    <add key="AdminUsers" value="57879,57999,57916,57164,73612,57774,57622,53397,59066,56948"/>
  </appSettings>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="data source=172.16.3.11; initial catalog=ELSJSS;User ID=sa; Password=tpms_tpms;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true"/>
    <globalization requestEncoding="ISO-8859-1" responseEncoding="ISO-8859-1" fileEncoding="ISO-8859-1"/>
    <!--<sessionState cookieless="true" timeout="20"/>-->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<identity impersonate="true"/> -->
    <!--<identity impersonate="true" userName="appuser" password="indi@123"/> -->
    <identity impersonate="false" userName="apptest" password="p@ssw0rd"/>
    <authentication mode="Forms">
      <forms defaultUrl="login.aspx" protection="Encryption" cookieless="AutoDetect"/>
    </authentication>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MySqlConnection" applicationName="JSSViewer" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="355" passwordFormat="Clear"/>
      </providers>
    </membership>
    <!--authentication mode="none"/-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>