<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<appSettings>
		<add key="in_path" value="D:\Deepak\xmlinv_chennai\input" />
		<add key="out_path" value="D:\Deepak\xmlinv_chennai\output\" />
		<add key="fail_dir" value="D:\Deepak\xmlinv_chennai\fail\" />
		<add key="success" value="D:\Deepak\xmlinv_chennai\success\" />
		<add key="add_new_message" value="yes" />
		<add key="new_message" value="This invoice should be deducted against the pre-payment made for January-June 2022" />
	</appSettings>
</configuration>